@import "../../../../variables";
.header {
    @apply bg-gray-900;
    &-container {
        @apply px-14 py-3 flex justify-between items-center;
        .brand {
            @apply w-32 h-12 rounded-sm;
            img {
                @apply w-full h-full rounded-sm;
            }
        }
        .user-area {
            .user-name {
                @apply text-white;
            }
        }
        .search-container {
            @apply block mx-auto w-1/3 translate-y-2;
        }
        input#search-bar {
            @apply bg-black text-white border border-solid border-gray-300 outline-none text-base px-4 py-0 rounded-lg w-full h-10;
            &:focus {
                @apply border-purple-700 transition-all duration-300 text-purple-700;
                &::-webkit-input-placeholder {
                    -webkit-transition: opacity 0.45s ease;
                    transition: opacity 0.45s ease;
                    opacity: 0;
                }
                &::-moz-placeholder {
                    -moz-transition: opacity 0.45s ease;
                    transition: opacity 0.45s ease;
                    opacity: 0;
                }
                &:-ms-placeholder {
                    -ms-transition: opacity 0.45s ease;
                    transition: opacity 0.45s ease;
                    opacity: 0;
                }
            }
        }
        .search-icon .fa-search {
            @apply text-white;
            position: relative;
            float: right;
            width: 75px !important;
            top: -30px;
            right: -40px;
            font-size: 20px;
        }
    }
}