<header>
</header>
<div class="add-admin">

    <div class="add-admin-container">
        <div class="title">
            <h1>Add new admin</h1>
            <h3>Adding new admin to OMR system to control films and users.</h3>
        </div>

        <div class="add-container">
            <h2>New admin</h2><br>
            <div class="info-container">
                <div class="block-info">
                    <h4>Admin's name</h4>
                    <input class="input" type="text" placeholder="name...">
                </div>
                <div class="block-info">
                    <h4>Email</h4>
                    <input class="input" type="text" placeholder="abc@gmail.com">
                </div>
                <div class="block-info">
                    <h4>ID</h4>
                    <input class="input" type="text" placeholder="admin's ID">
                </div>
            </div>
            <button class="btn bg-transparent hover:bg-red-400 text-white font-semibold hover:text-white py-2 px-4 border border-white hover:border-transparent rounded">Cancel</button>
            <button class="btn bg-transparent hover:bg-green-400 text-white font-semibold hover:text-white py-2 px-4 border border-white hover:border-transparent rounded">Save</button>
        </div>
    </div>

</div>
<footer></footer>