<header>
</header>
<div class="add-admin">

    <div class="add-admin-container">
        <div class="title">
            <h1>Add new admin</h1>
            <h3>Adding new admin to OMR system to control films and users.</h3>
        </div>

        <div class="add-container">
            <h2>New admin</h2>
            <div class="block-info">
                <h4>Admin's name</h4>
                <input class="input" type="text" placeholder="name...">
            </div>

        </div>
    </div>

</div>
<footer></footer>