<div class="forgotpassword-container">
    <div class="main-container">
      <img
        src="../../../../assets/imgs/auth-poster.jpg"
        alt="Poster"
        class="poster"
      />
      <div class="reset-password">
        <div class="reset-password__content">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordSubmit()">
            <h2 class="form-title">RESET PASSWORD</h2>
            <div class="form-group">
              <span class="label-input">New Password</span>
              <input
                class="inputPassword"
                type="password"
                formControlName="confirmPassword"
                name="password"
                placeholder="Type your new password"
                [ngClass]="{ 'is-invalid': forgotPasswordSubmitted && fr.email.errors }"
              />
              <div
                *ngIf="forgotPasswordSubmitted && fr.email.errors"
                class="invalid-feedback"
              >
                <div *ngIf="fr.email.errors.required">New password is required</div>
                <div *ngIf="fr.email.errors.email">New password is invalid</div>
              </div>
            </div>
  
            <div class="form-group">
              <span class="label-input">Confirm Password</span>
              <input
                class="inputPassword"
                type="password"
                formControlName="confirmPassword"
                name="password"
                placeholder="Confirm your password"
                [ngClass]="{
                  'is-invalid': forgotPasswordSubmitted && fr.confirmPassword.errors
                }"
                [ngClass]="{ 'is-invalid': forgotPasswordNotification }"
              />
              <div
                *ngIf="
                  forgotPasswordSubmitted &&
                  (fr.confirmPassword.errors || forgotPasswordNotification)
                "
                class="invalid-feedback"
              >
                <div>Confirm password does not match</div>
              </div>
            </div>
            <button class="btn-submit" 
            type="submit"
            (click)="togglePoster()"
            >register</button>
          </form>
        </div>
      </div>
  
      <div class="confirm-email">
        <div class="confirm-email__content">
          <form [formGroup]="confirmEmailForm" (ngSubmit)="onConfirmEmailSubmit()">
            <h2 class="form-title">CONFIRM EMAIL</h2>
            <h3 class="form-title-smaller">We sent a 4-digit code to your email,<br>please enter it below to proceed</h3>
            <div class="form-group">
              <span class="label-input">Digit code</span>
              <input
                class="inputDigitCode"
                type="text"
                formControlName="digitCode"
                name="digitCode"
                placeholder="Type your 4-digit code"
                [ngClass]="{ 'is-invalid': confirmEmailSubmitted && fl.email.errors }"
              />
              <div
                *ngIf="confirmEmailSubmitted && fl.email.errors"
                class="invalid-feedback"
              >
                <div *ngIf="fl.email.errors.required">Digit code is required</div>
                <div *ngIf="fl.email.errors.email">Digit code is invalid</div>
              </div>
            </div>
  
  
     
            <button class="btn-submit" type="submit" (click)="togglePoster()">Submit</button>
  
        
          </form>
        </div>
      </div>
    </div>
  </div>
  