<div class="auth-container">
    <div class="main-container">
      <img
        src="../../../../assets/imgs/auth-poster.jpg"
        alt="Poster"
        class="poster"
      />
      <div class="forget-password">
        <div class="forget-password__content">
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onResigterSubmit()">
            <h2 class="form-title">FORGOT PASSWORD</h2>
            <div class="form-group">
              <span class="label-input">New Password</span>
              <input
                class="inputEmail"
                type="text"
                formControlName="email"
                name="email"
                placeholder="Type your email"
                [ngClass]="{ 'is-invalid': forgotPasswordSubmitted && fr.email.errors }"
              />
              <div
                *ngIf="forgotPasswordSubmitted && fr.email.errors"
                class="invalid-feedback"
              >
                <div *ngIf="fr.email.errors.required">New password is required</div>
                <div *ngIf="fr.email.errors.email">New password is invalid</div>
              </div>
            </div>
  
            <div class="form-group">
              <span class="label-input">Confirm Password</span>
              <input
                class="inputPassword"
                type="password"
                formControlName="confirmPassword"
                name="password"
                placeholder="Confirm your password"
                [ngClass]="{
                  'is-invalid': forgotPasswordSubmitted && fr.confirmPassword.errors
                }"
                [ngClass]="{ 'is-invalid': forgotPasswordNotification }"
              />
              <div
                *ngIf="
                  forgotPasswordSubmitted &&
                  (fr.confirmPassword.errors || forgotPasswordNotification)
                "
                class="invalid-feedback"
              >
                <div>Confirm password does not match</div>
              </div>
            </div>
            <button class="btn-submit" 
            type="submit"
            (click)="togglePoster()"
            >register</button>
          </form>
        </div>
      </div>
  
      <div class="confirm-email">
        <div class="confirm-email__content">
          <form [formGroup]="confirmEmailForm" (ngSubmit)="onLoginSubmit()">
            <h2 class="form-title">SEND EMAIL</h2>
            <h3>We sent a 4-digit code to your email, please enter it below to proceed</h3>
            <div class="form-group">
              <span class="label-input">Digit code</span>
              <input
                class="inputEmail"
                type="text"
                formControlName="email"
                name="email"
                placeholder="Type your email"
                [ngClass]="{ 'is-invalid': confirmEmailSubmitted && fl.email.errors }"
              />
              <div
                *ngIf="confirmEmailSubmitted && fl.email.errors"
                class="invalid-feedback"
              >
                <div *ngIf="fl.email.errors.required">Digit code is required</div>
                <div *ngIf="fl.email.errors.email">Digit code is invalid</div>
              </div>
            </div>
  
  
     
            <button class="btn-submit" type="submit">Login</button>
  
            <div class="switch-link">
              <span>Don't have an account? </span>
              <a (click)="togglePoster()"> Sign Up </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  