<div class="header">
  <div class="header-container">
    <a href="./" class="brand">
      <img src="../../../../assets/imgs/brand-img.png" alt="OMR" />
			<h1>ONE MORE REVIEW</h1>
    </a>

    <div>
      <span class="p-input-icon-right mr-5">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Search a film..." class="inputSearch"/>
      </span>
      <p-splitButton
        label="{{ userInfo?.name }}"
        [model]="items"
        styleClass="p-button-secondary"
				icon="pi pi-user"
      ></p-splitButton>
    </div>
  </div>
</div>
