<div class="user">
    <app-header></app-header>
    <div class="user-container">
        <div class="infor-container" *ngIf="editStatus==false">
            <div class="user-profile">
                <img [src]="user && user.image ? user.image: 'https://i.pinimg.com/236x/ff/df/4e/ffdf4edc47c7c2675101a6eeedca1e53.jpg'" class="avatar">
                <h3>{{user?.name}}</h3>
                <h4>{{user?.username}}</h4>
            </div>
            <div class="detail-info">
                <i class="far fa-edit" (click)="onEditProfile()"></i>
                <div class="info">
                    <div class="block-info">
                        <h4>Country:</h4>
                        <p>{{user?.country}}</p>
                    </div>
                    <div class="block-info">
                        <h4>Gender:</h4>
                        <p *ngIf="user?.gender">Female</p>
                        <p *ngIf="user?.gender==false">Female</p>

                    </div>
                    <div class="block-info">
                        <h4>Age:</h4>
                        <p>{{user?.age}}</p>
                    </div>
                </div>


            </div>
        </div>
        <div *ngIf="editStatus" class="edit-container">
            <h2>Change profile</h2>
            <!-- <div class="user-profile">
                <img [src]="user && user.image ? user.image: 'https://i.pinimg.com/236x/ff/df/4e/ffdf4edc47c7c2675101a6eeedca1e53.jpg'" class="avatar">
                <h3>{{user?.name}}</h3>
                <h4>{{user?.username}}</h4>
            </div> -->
            <div class="detail-edit">
                <div class="info">
                    <div class="block-edit">
                        <h4>Name:</h4>
                        <input type="text" class="input" name="name" placeholder={{user.name}}>
                    </div>
                    <div class="block-edit">
                        <h4>Country:</h4>
                        <input type="text" class="input" name="country" placeholder={{user.country}}>
                    </div>
                    <div class="block-edit">
                        <h4>Gender:</h4>
                        <form>
                            <input class="input" type="radio" name="gender" value="female">
                            <label>Female</label><br>
                            <input class="input" type="radio" name="gender" value="male">
                            <label>Male</label><br>
                        </form>
                    </div>
                    <div class="block-edit">
                        <h4>Age:</h4>
                        <input class="input" type="text" name="age" placeholder={{user.age}}>
                    </div>
                </div>


            </div>


            <button class="btn" (click)="onSave()">Save</button>
        </div>

    </div>
    <app-footer></app-footer>
</div>