<div class="user">
    <app-header></app-header>
    <div class="user-container">
        <div class="infor-container" *ngIf="editStatus==false">
            <div class="user-profile">
                <img [src]="user && user.image ? user.image: 'https://i.pinimg.com/236x/ff/df/4e/ffdf4edc47c7c2675101a6eeedca1e53.jpg'" class="avatar">
                <h3>{{user?.name}}</h3>
                <h4>{{user?.username}}</h4>
            </div>
            <div class="detail-info">
                <i class="far fa-edit" (click)="onEditProfile()"></i>
                <div class="info">
                    <div class="block-info">
                        <h4>Country:</h4>
                        <p>{{user?.country}}</p>
                    </div>
                    <div class="block-info">
                        <h4>Gender:</h4>
                        <p *ngIf="user?.gender">Female</p>
                        <p *ngIf="user?.gender==false">Female</p>

                    </div>
                    <div class="block-info">
                        <h4>Age:</h4>
                        <p>{{user?.age}}</p>
                    </div>
                </div>


            </div>
        </div>
        <div *ngIf="editStatus" class="edit-container">
            <form (ngSubmit)="onSubmit()">
                <div class="user-edit">
                    <img [src]="user && user.image ? user.image: 'https://i.pinimg.com/236x/ff/df/4e/ffdf4edc47c7c2675101a6eeedca1e53.jpg'" class="avatar">
                    <h3>{{user?.name}}</h3>
                    <h4>{{user?.username}}</h4>
                </div>
                <div class="detail-edit">
                    <div class="info">

                        <div class="block-edit">
                            <h4>Country:</h4>
                            <input type="text" class="input" [(ngModel)]="edit_country" placeholder={{user.country}} size=20>
                        </div>
                        <div class="block-edit">
                            <h4>Gender:</h4>
                            <form>
                                <input type="radio" [(ngModel)]="edit_gender" value="female">
                                <label>Female</label><br>
                                <input type="radio" [(ngModel)]="edit_gender" value="male">
                                <label>Male</label><br>
                            </form>
                        </div>
                        <div class="block-edit">
                            <h4>Age:</h4>
                            <input class="input" type="text" [(ngModel)]="edit_age" placeholder={{user.age}} size=3>
                        </div>
                    </div>


                </div>


                <button class="btn" (click)="onSave()" type="submit">Save</button>
            </form>
        </div>

    </div>
    <app-footer></app-footer>
</div>