<div class="user">
    <app-header></app-header>
    <div class="user-container">
        <div class="infor-container">
            <div class="user-profile">
                <img [src]="user && user.image ? user.image: 'https://i.pinimg.com/236x/ff/df/4e/ffdf4edc47c7c2675101a6eeedca1e53.jpg'" class="avatar">
                <i class="far fa-edit"></i>
                <h3>{{user.name}}</h3>
                <h4>{{user.username}}</h4>
            </div>
            <div class="detail-info">
                <div class="block-info">
                    <h4>Country:</h4>
                    <p>{{user.country}}</p>
                </div>
                <div class="block-info">
                    <h4>Gender:</h4>
                    <p *ngIf="user.gender">Female</p>
                    <p *ngIf="user.gender==false">Female</p>

                </div>
                <div class="block-info">

                    <h4>Age:</h4>
                    <p>{{user.age}}</p>
                </div>



            </div>
        </div>

    </div>
    <app-footer></app-footer>
</div>