<div class="user">
    <app-header></app-header>
    <div class="user-container">
        <div class="infor-container">
            <div class="user-profile">
                <img src="user.image" class="avatar">
                <h3>{{user.name}}</h3>
                <h4>{{user.email}}</h4>
            </div>
            <div class="detail-profile">
                <p>{{user.description}}</p>
                <div class="detail-info">
                    <p>Country: {{user.nation}}</p>
                    <p>Gender: {{user.gender}}</p>
                    <p>Age: {{user.age}}</p>
                    <p>Country: {{user.nation}}</p>
                    <p>Created time: {{user.time}}</p>
                </div>
            </div>
            <button>Change infomation</button>
        </div>
        <div class="review-container">
            <h3>My Review</h3>
        </div>
    </div>
    <app-footer></app-footer>
</div>