<div class="user">
    <app-header></app-header>
    <div class="user-container">
        <div class="infor-container">
            <div class="user-profile">
                <img src="https://pbs.twimg.com/profile_images/1366571540549038081/ZjKB_X-y_400x400.jpg" class="avatar">
                <h3>{{name}}</h3>
                <h4>{{email}}</h4>
            </div>
            <div class="detail-info">
                <p>Country:<br>{{country}}</p>
                <p>Gender: {{gender}}</p>
                <p>Age: {{age}}</p>
                <p>Created time: {{time}}</p>
                <button>Change infomation</button>

            </div>
        </div>
        <div class="review-container">
            <h3>My Review</h3>
        </div>
    </div>
    <app-footer></app-footer>
</div>