<div class="user">
    <app-header></app-header>
    <div class="user-container">
        <div class="infor-container">
            <div class="user-profile">
                <img [src]="user.image" class="avatar">
                <h3>{{user.name}}</h3>
                <h4>{{user.email}}</h4>
            </div>
            <div class="detail-info">
                <div class="block-info">
                    <h4>Country:</h4>
                    <p>{{user.country}}</p>
                </div>
                <div class="block-info">
                    <h4>Gender:</h4>
                    <p>{{user.gender}}</p>
                </div>
                <div class="block-info">

                    <h4>Age:</h4>
                    <p>{{user.age}}</p>
                </div>



            </div>
        </div>
        <div class="review-container">
            <h3>My Review</h3>
            <div *ngFor="let review of myReviews">
                <div class="review">
                    <h2>{{review.name}}</h2>
                    <div class="inline-block" *ngFor="let i of createRange(review.rating)">
                        <span style="color:yellow" class="fa fa-star checked"></span>
                    </div>
                    <p>{{review.description}}</p>
                </div>
            </div>

        </div>
    </div>
    <app-footer></app-footer>
</div>